{
    "AWS_PROFILE": "default",
    "ETHERSCAN_API_KEY": "MY_API_KEY",
    "USER_WALLET_ADDRESS": "MY_WALLET_ADDRESS",
    "LIQUIDITY_PROVIDER_POOL_POSITIONS": "DAI_WETH_LP,DAI,111.11,WETH,0.22|DAI_USDC_LP,DAI,57.383,USDC,58.384"
}
